/* Overall styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Poppins;
}

/*Page specific laptop styling */

.clan-logo {
  width: 12.5%;
  pointer-events: none;
}

.container1 {
  margin-left: 5%;
  margin-right: 2%;
  display: flex;
  align-items: flex-end;
}

.cumbersome-text {
  font-style: normal;
  font-weight: 700;
  font-size: 3.95vw;
  line-height: 216.5%;
  color: #1e1e1e;
  flex-basis: 1;
  padding-bottom: 0;
  margin-right: 0.5%;
}

.cumbersome-image {
  width: 38.5%;
  margin-bottom: 3%;
  pointer-events: none;
}

.rotating-text {
  margin-top: 4%;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 150%;
  text-align: center;
}

.cta-button {
  display: block;
  margin: auto;
  background-color: #ffffff;
  color: #3c8f7c;
  border: 0.12em solid #3c8f7c;
  border-radius: 10000000px;
  outline: none;
  cursor: pointer;
  font-size: 2vw;
  font-style: normal;
  font-weight: 800;
  padding: 0.6em 2.5em;
}

.cta-button:hover,
.cta-button:focus {
  color: #ffffff;
  background-color: #3c8f7c;
}

.hero-phone {
  width: 39%;
  margin-left: 29%;
  pointer-events: none;
}

.container2 {
  position: relative;
}

.tri-background-image {
  width: 100%;
}

.tri-images {
  position: absolute;
  pointer-events: none;
}

.text-a {
  position: absolute;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 150%;
  text-align: center;
}

.text-b {
  position: absolute;
  font-weight: 600;
  font-size: 1.875vw;
  line-height: 150%;
  text-align: center;
}

.container3 {
  position: relative;
}

.end-image {
  width: 100%;
  pointer-events: none;
}

.social-icons {
  position: absolute;
  top: 69.58%;
  width: 5%;
}

.social-icons:hover,
.social-icons:focus {
  transform: scale(1.1);
}

.twitter {
  left: 31.2%;
}

.instagram {
  left: 41.2%;
}

.linkedin {
  left: 51.2%;
}

.facebook {
  left: 61.2%;
}

.other-pages {
  position: absolute;
  top: 83.79%;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.other-pages:hover,
.other-pages:focus {
  transform: scale(1.1);
}

.about {
  left: 35%;
}

.contact {
  left: 50%;
}

/*Page specific mobile styling */

.M-clan-logo {
  width: 25%;
}

.M-cumbersome-text {
  font-style: normal;
  font-weight: 700;
  font-size: 5.5vw;
  line-height: 216.5%;
  color: #1e1e1e;
  margin-right: 0.5%;
  text-align: center;
}

.M-cumbersome-image {
  width: 57%;
  margin-left: 21.5%;
  margin-top:2vw;
  margin-bottom: 4vw;
}

.M-cta-button {
  font-size: 4.8vw;
}

.M-rotating-text {
  font-size: 3.7vw;
}

.M-hero-phone {
  width: 85%;
  margin-left: 6%;
}

.M-tri-images-1 {
  width: 46%;
  margin-left: 26%;
}

.M-tri-images-2 {
  width: 44.5%;
  margin-left: 27.5%;
}

.M-tri-images-3  {
  width: 72.5%;
  margin-left: 15.5%;
}

.M-text-a {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  margin-bottom: 3vw; 
}

.M-text-b {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2vw;
  line-height: 150%;
  margin-bottom: 10vw; 
}

.M-other-pages {
  position: absolute;
  left: 55%;  
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.M-contact {
  left: 55%;  
  top: 50%;
}

.M-about {
  left: 55%;  
  top: 60%;
}

.M-instagram {
  left:20%;
  top:50%;
}

.M-facebook {
  left:20%;
  top: 60%;
}

.M-linkedin {
  left:20%;
  top: 70%;
}

.M-twitter {
  left:20%;
  top: 80%;
}

@media (min-width: 769px) {
  div.mobile {
    display: none;
  }
  div.laptop {
    display: block;
  }
}
@media (max-width: 768px) {
  div.mobile {
    display: block;
  }
  div.laptop {
    display: none;
  }
}
